/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body{
    padding: 0px;
    margin: 0px;
    background-color:#efeaeab3;
}
.docs-footer {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 12px;
    font-size: 12px;
    margin-top: 40px;
    background: #9c27b0;
    color: white;
}

.docs-footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

.docs-footer-logo {
    flex: 1;
}

.docs-footer-version {
    flex: 1;
    text-align: center;
}

.docs-footer-copyright {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 225px;
    text-align: center;
}

html {
    min-height: 100%;
    position: relative;
  }

  